* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {
overflow-y: scroll;
height: 250px;
width: 250px;
}

#navbar {
    background-color: white;
    height: 3rem;
}
#mainsection {
    background-color: lightgrey;
    /* padding-left: 7.5%;
    padding-right: 7.5%; */
    padding-top: 2%;
    /* height: 30rem; */
}

#videosection {
    background-color: lightgrey;
    width: 58%;
    height: 100%;
    position: fixed;
    left: 6.5%;
}

#sidesection {
    background-color: lightgrey;
    width: 27%;
    height: 100%;
    position: fixed;
    right: 7.5%;
}


/* #video {
    background-color:white;
    margin-top: 5%;
} */

#main{
    height:53%;
    background-color:white;
}

#detail {
    height: 17.5%;
    background-color:white;
    margin-top: 0.5%;
    padding: 1% 2% 1% 2%;
}

#description{
    height: 12%;
    background-color:white;
    margin-top: 0.5%;
    padding: 1% 2% 1% 2%;
}

#comment{
    /* height: 9%; */
    background-color:white;
    margin-top: 0.5%;
    padding: 1% 2% 1% 2%;
}

#sign-btn{
    background-color: blue;
    color: white;
    border-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    margin-left: 10px; 
}
#up-img{
    
}
#logo-img{
    
    
}

#video-title{
    padding: 1% 0% 1% 1%;
}

#views-span{
    
}